<script>
  (function(i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', '{{ site.analytics_id }}', 'auto');
  ga('send', 'pageview');

  /*
    * Function that tracks a click on an outbound link in Google Analytics.
    * This function takes a valid URL string as an argument, and uses that URL string
    * as the event label.
    * Setting transport method as "beacon" allows the hit to be sent with "navigator.sendBeacon"
    * in the browser which allows it (otherwise, it will fall back to 'image' or 'xhr' depending on hit size.)
    */
  var trackOutboundLink = function(url, eventLabel, eventName) {
      ga('send', 'event', 'outbound_link', eventLabel, eventName, {
          'transport': 'beacon',
          'hitCallback': function() {
              document.location = url;
          }
      });
  }

  var trackFooterLink = function(url, eventName) {
    trackOutboundLink(url, 'footer', eventName);
  }

  var trackSocialLink = function(url, socialAction, socialNetwork) {
      ga('send', 'social', socialNetwork, socialAction, url, {
          'hitCallback': function() {
              document.location = url;
          }
      });
  }

  var trackSharePostLink = function(url, socialNetwork) {
    trackSocialLink(url, 'share_post', socialNetwork);
  }

  var trackShareCardLink = function(url, socialNetwork) {
    trackSocialLink(url, 'share_card', socialNetwork);
  }

</script>