{% if isPage %} {% assign post = page %} {% endif %}

<section class="post-share">

    <br>

    <ul class="share-buttons">
        <li><b>Share:</b></li>
        <li>
            <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}"
            target="_blank"
            title="Share on Facebook"
            onclick="trackSharePostLink(this.href, 'Facebook'); return false;">
                <img src="img/facebook_logo.png"></a>
        </li>
        <li>
            <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}"
            target="_blank"
            title="Tweet"
            onclick="trackSharePostLink(this.href, 'Twitter'); return false;">
                <img src="img/twitter_logo.png"></a>
        </li>
        <li>
            <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}"
            target="_blank"
            title="Share on Google+"
            onclick="trackSharePostLink(this.href, 'Google+'); return false;">
                <img src="img/google+_logo.png"></a>
        </li>
        <li>
            <a href="http://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}&title={{ page.title }}&summary=&source={{ site.url }}{{ page.url }}"
            target="_blank"
            title="Share on LinkedIn"
            onclick="trackSharePostLink(this.href, 'LinkedIn'); return false;">
                <img src="img/linkedIn_logo.png"></a>
        </li>
        <li>
            <a href="mailto:?subject={{ page.title }} - {{ site.title }}&body=I want to share with you {{ page.title }} ({{ site.url }}{{ page.url }}), an article written by {{ site.author }} (@{{ site.twitter_username }})."
            target="_blank"
            title="Share via Email"
            onclick="trackSharePostLink(this.href, 'Email'); return false;">
                <img src="img/email_logo.png"></a>
        </li>
        
    </ul>

</section>